node_modules/
dist/
app-dist/
dist-old*/
.env
.env.local
*.log
.DS_Store
.airsign.pid
.hardhat-airsign/
coverage/
cache/
artifacts/
typechain-types/
example/.env
example/node_modules/
example/.airsign.pid
example/.airsign.log
example/.airsign-addresses.json
example/artifacts/
example/cache/
example/typechain-types/
